[Unit]
Description=Buildbot master service
After=network.target

[Service]
User=osboxes
Group=osboxes
WorkingDirectory=/home/osboxes/buildbot/master
ExecStart=/usr/local/bin/buildbot start
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
